<h1>About us</h1>
<p><a href="http://railstutorial.org/">ruby on rails tutorial</a>is a project to make a book and screen shots to teach web development with <a href="http://rubyonrails.org">ruby on rails </a>.this is the sample application for the tutorial.</p>
